APP_URL="http://192.168.2.186"
APP_ENV= "/projects/auto-reviews"
USER_AUTH_APP_URL="http://127.0.0.1"
MAILER_ADDRESS="smtp.gmail.com"
MAILER_USERNAME="irony00100@gmail.com"
MAILER_PASSWORD="quuruarwlkjlnuwe"
MAILER_SECURE="tls"
MAILER_PORT=587
MAILER_DEBUG_LEVEL=1
EMAIL_COMPANY_ADDRESS="Adwords Optimizer"
EMAIL_NOREPLY_ADDRESS="irony00100@gmail.com"
EMAIL_CONTACT_ADDRESS="irony00100@gmail.com"
MAIN_APP_DOMAIN="${APP_URL}${APP_ENV}"